<html>
  <head>
    <title>Angular 2 QuickStart</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/app.css">

    <!-- 1. Load libraries -->
    <!-- IE required polyfills, in this exact order -->
    <script src="/lib/core-js/client/shim.min.js"></script>
    <script src="/lib/zone.js/dist/zone.js"></script>
    <script src="/lib/reflect-metadata/Reflect.js"></script>
    <script src="/lib/systemjs/dist/system.src.js"></script>

    <!-- 2. Configure SystemJS -->
    <!--
    <script>
      System.config({
        packages: {
          app: {
            format: 'register',
            defaultExtension: 'js'
          }
        }
      });
      System.import('app/main')
            .then(null, console.error.bind(console));
    </script>
    -->

    <script src="systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(error){ console.error(error); });
    </script>
  </head>

  <!-- 3. Display the application -->
  <body>

    {% block body %}{% endblock %}
  </body>
</html>
